.Task {
    position: relative;
    min-height: 70px;
    margin: 20px 0;
    padding: 15px 10px 10px 10px;
    background-color: #FFEB80;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;

    font-family: monospace;
    font-size: 16px;
    line-height: 24px;
    color: #444;
    text-align: center;
    outline: none;
    overflow: hidden;
    user-select: text;

    &--dragging {
        top: -4px;
        left: -4px;
        background-color: #FFDE33;
        box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.2);
    }

    &-delete {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 24px;
        height: 24px;
        color: #444;
        cursor: pointer;

        &:before {
            content: "x";
            font-style: normal;
        }
    }

    &:hover {
        .Task-delete {
            display: block;
        }
    }
}
