.Task {
    // The surface color is #121212 or hsl(0, 0%, 7%)
    // 5% elevation on top of that is added
    $surface-color: hsl(0, 0%, 7%);
    $elevation-5-color: hsl(0, 0%, 12%);
    $elevation-11-color: hsl(0, 0%, 18%);

    display: flex;
    position: relative;
    height: 70px;
    background-color: $elevation-5-color;
    border-bottom: 2px solid transparent;
    background-clip: padding-box;
    overflow: hidden;

    &-text {
        width: 100%;
        margin: 15px 15px 7px 20px;
        font-size: 16px;
        line-height: 24px;
        color: #fff;
        outline: none;
        // iOS Safari fix to make overflow: hidden
        // work with transform
        clip-path: content-box;

        transform: translateX(0);
        transition: transform 0.2s ease-in;
        user-select: text;
        overflow: hidden;
    }

    &--dragging {
        background-color: $elevation-11-color;
        user-select: none;
    }

    &-options {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        height: 100%;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.2s ease-in;

        &-delete,
        &-complete {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 100%;
            padding-top: 37px;
            font-family: AvenirNextDemi;
            font-size: 11px;
            text-transform: uppercase;
            color: $surface-color;
            background-repeat: no-repeat;
            background-position: center 30%;
            background-size: 22px 22px;
            box-sizing: border-box;
            cursor: pointer;
        }

        &-delete {
            background-color: #CF6679;
            background-image: url("../../assets/bin.svg");
        }

        &-complete {
            background-position: center 24%;
            background-size: 35px 35px;
            background-color: #a0e59c;
            background-image: url("../../assets/checkmark.svg");
        }
    }

    &--isOptionsMenuShown {
        .Task-options {
            transform: translateX(calc(100% - 160px));
            transition: transform 0.2s ease-out;
        }

        .Task-text {
            transform: translateX(-160px);
            transition: transform 0.2s ease-out;
        }
    }
}
