.Board {
    // The surface color is #121212 or hsl(0, 0%, 7%)
    $surface-color: hsl(0, 0%, 7%);

    display: flex;
    height: 100%;
    align-items: stretch;
    background-color: $surface-color;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
