.Board {
    // The surface color is #121212 or hsl(0, 0%, 7%)
    $surface-color: hsl(0, 0%, 7%);

    display: flex;
    width: 300%;    // 100% * number of columns
    height: 100%;
    align-items: stretch;
    background-color: $surface-color;
    overflow: hidden;
    // left: 0;
    // transition: left 0.2s ease-in;
}
