.Column {
    $surface-color: hsl(0, 0%, 7%);
    $elevation-12-color: hsl(0, 0%, 19%); // 12% elevation
    // TODO: use filter: saturate(-400%); for working
    // with accent colors

    flex-grow: 1;
    flex-basis: 0;
    box-sizing: border-box;
    padding: 0 2px;

    @media (max-width: 1023px) {
        flex-shrink: 0;
        // iPhone 5SE screen width
        flex-basis: 320px;
    }

    header {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 36px;
        padding: 5px 10px;
        background-clip: padding-box;
        border-bottom: 2px solid transparent;
        background-color: $elevation-12-color;

        h2 {
            display: inline-block;
            font-family: AvenirNextDemi;
            font-size: 15px;
            font-weight: normal;
            text-transform: uppercase;
            color: #fff;
        }

        .plus {
            position: absolute;
            top: 0;
            right: 10px;
            display: inline-block;
            width: 50px;
            height: 50px;
            background: url("../../assets/plus.svg");
            background-repeat: no-repeat;
            background-size: 36px 36px;
            background-position: 50% 50%;
            background-color: #baffb8; // 200 of the Primary color #99ff99
            border-radius: 50%;
            cursor: pointer;
            z-index: 1;
        }
    }
}
