.Column {
    flex-grow: 1;
    flex-basis: 0;
    box-sizing: border-box;
    border-right: 1px solid #d6d5d5;

    &:last-child {
        border: none;
    }

    @media (max-width: 1023px) {
        flex-shrink: 0;
        flex-basis: 300px;
    }
}
