.Column {
    flex-grow: 1;
    flex-basis: 0;
    padding: 0 10px;
    box-sizing: border-box;
    border-right: 1px solid #d6d5d5;

    &:last-child {
        border-right: none;
    }

    @media (max-width: 1023px) {
        flex-shrink: 0;
        // iPhone 5SE screen width
        flex-basis: 320px;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 26px;
        margin: 0 -10px 10px -10px;
        padding: 5px 10px;
        border-bottom: 1px solid #d6d5d5;

        h2 {
            display: inline-block;
            font-family: monospace;
            font-size: 18px;
            text-transform: uppercase;
            color: #444;
        }

        .plus {
            display: inline-block;
            width: 18px;
            height: 18px;
            background: url("../../assets/plus.svg");
            background-repeat: no-repeat;
            background-size: 16px 16px;
            background-position: 50% 50%;
            cursor: pointer;
        }
    }
}
